[supabase]
   url = "https://ytfklxloagjmaxvypjge.supabase.co"
   key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0ZmtseGxvYWdqbWF4dnlwamdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NDIxMzIsImV4cCI6MjA5NzMxODEzMn0.eCAmuy4N6cfWwPxHC2J9TcSXToN-Pt8DmKvXGsPx1pY"

   [auth]
   app_password = "141983"
